.url-input-box {
  --font-size: 20px;
  --main-color: #333;
  --secondary-color: #666;
  --border: 2px solid var(--secondary-color);
  --box-shadow: 2px 5px 5px var(--main-color);
}

.url-input-box {
  text-align: center;
}

.url-input-box input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 10px 10px 10px;
  padding: 8px;
  border: var(--border);
  font-size: var(--font-size);
  transition: all 0.3s;
}

.url-input-box input[type="text"]:hover {
  box-shadow: var(--box-shadow);
}

.url-input-box button {
  width: 60%;
  margin: 8px 5px 5px;
  padding: 8px 12px;
  font-size: var(--font-size);
  border: var(--border);
  background: 0;
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.3s;
}

.url-input-box button:hover {
  box-shadow: var(--box-shadow);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .url-input-box input[type="text"] {
    margin: 0;
    width: 70%;
  }

  .url-input-box button {
    width: 25%;
  }
}
